<form>
<div class="form-group">
<label class="btn btn-default btn-file">Browse
<input type="file" name="files[]" id="fileupload" style="display: none;"
    multiple
    data-sequential-uploads="true"
    data-form-data='{"script": "true"}'>
 </label>
</div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{overallProgress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{overallProgress}}%">
      <span class="sr-only">{{overallProgress}}% Complete</span>
    </div>
  </div>

<div class="form-group" id="embed_video">
</div>
</form>